spring:
  application:
    name: dubbo-consumer

server:
  port: 8091

dubbo:
  application:
    name: ${spring.application.name}
  protocol:
    name: dubbo
    port: 20881 # 默认端口 20880
  registry:
    address: zookeeper://192.168.147.100:2181 # zookeeper地址