spring:
  data:
    redis:
      host: 192.168.147.101
      port: 6379
      password: Ysj245913@.
      database: 0
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: 1000ms